.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        width: 768px;
        display: flex;
        justify-content: space-evenly;
    }
    @media screen and (min-width: 1440px) {
        width: 100%;
    }
}