@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1m8rst');
  src:  url('fonts/icomoon.eot?1m8rst#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1m8rst') format('truetype'),
    url('fonts/icomoon.woff?1m8rst') format('woff'),
    url('fonts/icomoon.svg?1m8rst#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-6:before {
  content: "\e911";
  color: #afb1b8;
}
.icon-logo-1:before {
  content: "\e900";
  color: #afb1b8;
}
.icon-logo-2:before {
  content: "\e901";
  color: #afb1b8;
}
.icon-logo-3:before {
  content: "\e902";
  color: #afb1b8;
}
.icon-logo-4:before {
  content: "\e903";
  color: #afb1b8;;
}
.icon-logo-5:before {
  content: "\e904";
  color: #afb1b8;
}
.icon-in .path1:before {
  content: "\e905";
  color: rgb(255, 255, 255);
}
.icon-in .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-in .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-in .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-facebook .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}
.icon-facebook .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-twitter .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
}
.icon-twitter .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-instagram .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.icon-instagram .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-instagram .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
.icon-instagram .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(175, 177, 184);
}
