/* GENERAL */
html {
    zoom: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.navigation,
.contacts {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


@media screen and (min-width: 50px){
    .menu {
        display: none;
    }

    .contacts {
        display: none;
    }

    .navitem {
        text-decoration: none;
        font-size: 15px;
        color: #000;
        font-family: "Roboto";
    }
    
    .page-header {
        height: 80px;
        border-bottom: 1px solid #ececee;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    
    .web {
        color: #2196F3;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
    }
    
    .studio {
        color: #000;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
    
    }
    
    .logo {
        margin-top: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 20px;
    }
    

    .icon-menu_link {
        color: #000;
        margin-top: 25px;
        margin-right: 25px;
    }
/* MAIN NAVIGATION */

    .main_nav{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        margin-top: 94px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        width: 350px;
        margin-right: 25px;
    }
    .main_nav_item a{
        padding: 6px 22px;
        background-color: #F5F4FA;
        border-radius: 4px;
        color: #000;
        margin-right: 10px;
        font-size: 16px;
    }

    .main_nav_item a:hover{
        color: #fff;
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .main_nav_item:nth-child(4),
    .main_nav_item:nth-child(5){
        margin-top: 20px;
    }
    .main_nav_item:nth-child(5){
        margin-right: 104px;
    }
    .main_nav_sect{
        display: flex;
        justify-content: center;
    }
    /* CONTENT TABLE */
    .table_sect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table{
        width: 350px;
        height: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .table_item{
        position: relative;
        width: 350px;
        height: 404px;
        border: 1px solid #EEEEEE;
        transition-property: box-shadow;
        transition-duration: 300ms;
        transition-timing-function: linear;
        transition-delay: none;
        margin-bottom: 30px;
    }
    .table_item:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    .table_item img{
        width: 350px;
        height: 294px;
    }
    .table_item h3, p{
        font-family: 'Roboto';
    }
    .table_item h3{
        position: absolute;
        top: 320px;
        left: 20px
    }
    .table_item p{
        position: absolute;
        top: 360px;
        left: 20px;
        color: #757575;
    }
    
    .transperent{
        font-family: 'Roboto';
        text-align: justify;
        padding: 53px 24px;
        position: relative;
        bottom: 300px;
        width: 323px;
        height: 190px;
        background-color: rgba(33, 150, 243, 0.9);;
        opacity: 0;
        color: #fff;
        line-height: 25px;
        transition-property: opacity;
        transition-duration: 200ms;
        transition-timing-function: linear;
        transition-delay: none;
    }
    .table_item:hover .transperent{
        opacity: 1;
    }
    .table_item:active .transperent{
        opacity: 1;
    }
    footer{
        position: relative;
        width: 100%;
        height: 603px;
        top: 2600px;
    }
    .footer_box{
        left: 240px;
        align-items: center;
        flex-direction: column;
    }
    .adress{
        position: relative;
        right: 25px;
        width: 425px;
    }
    .adress h2{
        position: relative;
        right: 40px;
        
    }
    .adress ul{
        text-align: center;
        right: 200px;
        margin-bottom: 60px;
    }
    .join_us{
        text-align: center;
        position: relative;
        right: 240px;
        width: 538px;
    }
    .subsciption{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 450px;
        margin-top: 60px;
        position: relative;
        right: 260px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 50px;
    }
    .subsciption h2{
        margin-left: 30px;
        font-family: 'Roboto';
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 14px;
    }

    .subsciption input{
        position: relative;    
        left: 15px;
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: #2F303A;
        color: #FFFFFF99;
        padding-left: 16px;
    }
    .subsciption button{
        position: relative;
        left: 140px;
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
        padding-bottom: 10px;
        border: solid #2196F3;
    }
    .icon-icon-send{
        position: relative;
        top: 5px;
        left: 12px;
        font-size: 24px;
    }
    
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container{
        justify-content: space-evenly;
    }
    .logo{
        position: relative;
        left: 5.5rem;    
    }
    .web{
        color: #000;
    }
    .footer_logo .studio{
        color: #000;
    }
    .navigation{
        justify-content: space-evenly;
        margin-left: 90px;
    }
    .contacts{
        text-align: center;
        position: relative;
        right: 272px;
        flex-direction: column;
        position: relative;
        bottom: 15px;    
    }
    .contacts_item{
        line-height: 30px;
    }
    .main_nav_sect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table{
        justify-content: center;
        left: 20px;
        width: 100%;
        height: 2400px;
    }
    
    .table_item{
        width: 354px;
        height: 440px;
        margin-bottom: 30px;
    }
    .table_item img{
        width: 354px;
        height: 294px;
    }
    .transperent{
        width: 307px;
    }
    .table_item:last-child{
        position: relative;
        right: 193px;
    }
    .table_item:active .transperent{
        opacity: 1;
    }
    footer{
        display: flex;
        justify-content: center;
        height: 463px;
    }
    .footer_box{
        width: 100%;
        height: 400px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        right: 300px;
    }
    .adress{
        position: relative;
        right: 80px;
        width: 425px;
    }
    .adress h2{
        position: relative;
        right: 25px;
        
    }
    .adress ul{
        text-align: center;
        right: 200px;
        margin-bottom: 60px;
    }
    .join_us{
        text-align: center;
        position: relative;
        right: 250px;
    }
    .SVGs_footer{
        position: relative;
        left: 5px;
    }
    .subsciption{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 60px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 50px;
        bottom: 80px;
        right: 220px;
    }
    .subsciption h2{
        margin-left: 30px;
        font-family: 'Roboto';
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 14px;
    }

    .subsciption input{
        position: relative;    
        left: 15px;
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: #2F303A;
        color: #FFFFFF99;
        padding-left: 16px;
    }
    .subsciption button{
        position: relative;
        left: 140px;
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
        padding-bottom: 10px;
        border: solid #2196F3;
    }
    .icon-icon-send{
        position: relative;
        top: 5px;
        left: 12px;
        font-size: 24px;
    }
}