/* GENERAL */
html {
    zoom: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.navigation,
.contacts {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 50px) {
    .menu {
        display: none;
    }

    .contacts {
        display: none;
    }

    .navitem {
        text-decoration: none;
        font-size: 15px;
        color: #000;
        font-family: "Roboto";
    }
    
    .page-header {
        height: 80px;
        border-bottom: 1px solid #ececee;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    
    .web {
        color: #2196F3;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
    }
    
    .studio {
        color: #000;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
    
    }
    
    .logo {
        margin-top: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 20px;
    }
    

    .icon-menu_link {
        color: #000;
        margin-top: 25px;
        margin-right: 25px;
    }

   /* BACKGROUND */
    .main-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./ws_images/background_img.png);
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.5);
        font-family: "Roboto";
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 100%;
    }

    /* BACKGROUND-HEADING */

    .background-heading {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
        color: #fff;
        font-family: "Roboto";
        font-size: 26px;
        width: 300px;
    }

    /* BACKGROUND-BUTTON */

    .background-button {
        border: 2px solid #2196F3;
        border-radius: 3px;
        background-color: #2196F3;
        padding: 10px 24px;
        color: #ffffff;
        box-shadow: 0px 4px 4px #00000026;
        text-decoration: none;
    }
    /* INFO */
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    /* INFO LIST */
    .info_list {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }
    .info_list li {
        margin-bottom: 30px;
        text-align: center;
    }
    .info_heading {
        font-size: 14px;
        font-family: "Roboto";
        font-weight: 700px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
        margin-right: 20px;
    }
    /* INFO TEXT */
    .info_text {
        color: #757575;
        font-family: "Roboto";
        line-height: 24px;
        text-align: center;
        margin-right: 40px;
    }

    /* INFO BACKGRROUND */
    .svg_bg {
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 20px 130px;
    }
    .icon-antenna-1,
    .icon-astronaut-1,
    .icon-clock-1,
    .icon-diagram-1 {
        font-size: 60px;
    }

    .what_we_do {
        display: none;
    }

        /* OUR TEAM */
    .our_team {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F5F4FA;
        margin-top: 94px;
        width: 100%;
        background-size: cover;
    }

    .our_team h2 {
        text-align: center;
        font-family: "Roboto";
        font-size: 36px;
        margin-bottom: 50px;
        margin-top: 94px;
    }

    .our_team_list {
        display: flex;
        justify-content: center;
        align-content: center;
        list-style: none;
        margin-right: 15px;
        margin-bottom: 94px;
        flex-wrap: wrap;
        width: 330px;
    }
    
    .our_team_list li {
        margin-right: 30px;
    }
    
    .our_team_items {
        margin-bottom: 30px;
        width: 320px;
        height: 588px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .our_team_items img {
        width: 320px;
        height: 420px;
    }

    .our_team_text1,
    .our_team_text2 {
        text-align: center;
        font-family: "Roboto";
    }

    .our_team_text1 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .our_team_text2 {
        color: #757575;
        margin: 0;
    }

    .SVGs {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    /* INSTAGRAM-ICON */
    .icon-instagram .path1inst:before {
        content: "\e90d";
        color: rgb(255, 255, 255);
    }
    
    .icon-instagram .path2inst:before {
        content: "\e90e";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-instagram .path3inst:before {
        content: "\e90f";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-instagram .path4inst:before {
        content: "\e910";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-instagram {
        font-size: 44px;
    }
    
    .instagram_link:hover .icon-instagram .path1inst:before {
        color: #2196F3;
    }
    
    .instagram_link:hover .icon-instagram .path2inst:before,
    .instagram_link:hover .icon-instagram .path3inst:before,
    .instagram_link:hover .icon-instagram .path4inst:before {
        color: #fff;
    }
    
    /* TWITTER-ICON */
    .icon-twitter .path1twt:before {
        content: "\e90b";
        color: rgb(255, 255, 255);
    }
    
    .icon-twitter .path2twt:before {
        content: "\e90c";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-twitter {
        font-size: 44px;
    }
    
    .twitter_link:hover .path1twt:before {
        color: #2196F3;
    }
    
    .twitter_link:hover .path2twt:before {
        color: #fff;
    }
    
    /* FACEBOOK-ICON */
    .icon-facebook .path1fb:before {
        content: "\e909";
        color: rgb(255, 255, 255);
    }
    
    .icon-facebook .path2fb:before {
        content: "\e90a";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-facebook {
        font-size: 44px;
    }
    
    .facebook_link:hover .path1fb:before {
        color: #2196F3;
    }
    
    .facebook_link:hover .path2fb:before {
        color: #fff;
    }
    
    /* IN-ICON */
    .icon-in .path1in:before {
        content: "\e905";
        color: rgb(255, 255, 255);
    }
    
    .icon-in .path2in:before {
        content: "\e906";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-in .path3in:before {
        content: "\e907";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-in .path4in:before {
        content: "\e908";
        margin-left: -1em;
        color: rgb(175, 177, 184);
    }
    
    .icon-in {
        font-size: 44px;
    }
    
    .in_link:hover .path1in:before {
        color: #2196F3;
    }
    
    .in_link:hover .path2in:before,
    .in_link:hover .path3in:before,
    .in_link:hover .path4in:before {
        color: #fff;
    }
    .instagram_link:active .icon-instagram .path2inst:before,
    .instagram_link:active .icon-instagram .path3inst:before,
    .instagram_link:active .icon-instagram .path4inst:before {
        color: #fff;
    }

    .twitter_link:active .path1twt:before {
        color: #2196F3;
    }

    .twitter_link:active .path2twt:before {
        color: #fff;
    }

    .facebook_link:active .path1fb:before {
        color: #2196F3;
    }

    .facebook_link:active .path2fb:before {
        color: #fff;
    }

    .in_link:active .path1in:before {
        color: #2196F3;
    }

    .in_link:active .path2in:before,
    .in_link:active .path3in:before,
    .in_link:active .path4in:before {
        color: #fff;
    }

    .clients {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 94px;
    }
    
    .clients_list {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        width: 300px;
    }
    
    .clients-heading {
        font-size: 36px;
        font-family: "Roboto";
        margin-bottom: 50px;
    }
    
    /* OUR TEAM ICONS */
    .icon-logo-1:before {
        content: "\e900";
        color: #afb1b8;
    
    }
    
    .icon-logo-2:before {
        content: "\e901";
        color: #afb1b8;
    }
    
    .icon-logo-3:before {
        content: "\e902";
        color: #afb1b8;
    }
    
    .icon-logo-4:before {
        content: "\e903";
        color: #afb1b8;
    }
    
    .icon-logo-5:before {
        content: "\e904";
        color: #afb1b8;
    }
    
    .icon-logo-6:before {
        content: "\e911";
        color: #afb1b8;
    }
    
    .icon-logo-1:before,
    .icon-logo-2:before,
    .icon-logo-3:before,
    .icon-logo-4:before,
    .icon-logo-5:before,
    .icon-logo-6:before {
        font-size: 50px;
        border-radius: 4px;
    }
    
    .clients_list_item {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #afb1b8;
        width: 120px;
        height: 90px;
        border-radius: 4px;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    
    .clients_list_item:active span:before{
        color: #2196F3;
    }
    .clients_list_item:active{
        border:1px solid #2196F3;
    }
    
    footer {
        background-color: #2F303A;
        margin-top: 94px;
        width: 100%;
    }
    
    .footer_box {
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
    }
    
    .adress {
        margin-left: 40px;
        text-align: center;
    }
    
    .adress ul {
        position: relative;
        right: 40px;
        list-style: none;
    }
    
    .footer_logo .studio {
        color: #fff;
    }
    .footer_logo{
        margin-right:35px;
        margin-top: 60px;
    }
    
    .adress ul li {
        line-height: 29px;
        font-size: 14px;
    }
    
    .adress ul li:first-child {
        color: #fff;
        font-family: "Roboto";
    
    }
    
    .adress ul li:nth-child(2),
    .adress ul li:nth-child(3) {
        color: #FFFFFF99;
        font-family: "Roboto";
    }
    
    .SVGs_footer {
        margin-top: 20px;
    }
    
    .SVGs_footer a {
        margin-right: 10px;
    }
    .join_us{
        text-align: center;
    }
    .join_us h2 {
        color: #fff;
        font-family: "Roboto";
        font-size: 18px;
    }
    
    .join_us .SVGs_footer .icon-instagram .path1inst:before,
    .join_us .SVGs_footer .icon-twitter .path1twt:before,
    .join_us .SVGs_footer .icon-facebook .path1fb:before,
    .join_us .SVGs_footer .icon-in .path1in:before {
        color: rgba(255, 255, 255, 0.1);
    }
    .join_us .SVGs_footer .icon-instagram:hover .path1inst:before,
    .join_us .SVGs_footer .icon-twitter:hover .path1twt:before,
    .join_us .SVGs_footer .icon-facebook:hover .path1fb:before,
    .join_us .SVGs_footer .icon-in:hover .path1in:before {
        color: #2196F3;
    }

    .subsciption {
        display: flex;
        flex-direction: column;
        width: 450px;
        margin-top: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 50px;
    }

    .subsciption h2 {
        font-family: 'Roboto';
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 14px;
        text-align: center;
    }

    .subsciption input {
        width: 300px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        color: #FFFFFF99;
        padding-left: 16px;
    }

    .subsciption button {
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
        padding-bottom: 10px;
        border: solid #2196F3;
        margin-bottom: 60px;
        text-align: center;
    }

    .icon-icon-send {
        position: relative;
        top: 5px;
        left: 12px;
        font-size: 24px;
    }


}

@media screen and (min-width: 768px){
    .container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .menu{
        display: block;
    }
    .navitem:active{
        color: #2196F3;
    }
    .contacts{
        display: block;
    }
    .logo {
        text-align: end;
        margin-left: 180px;
    }
    .icon-menu_link{
        display: none;
    }
    .web {
        color: #000;
    }
    
    .footer_logo .studio {
        color: #000;
    }
    
    .navigation {
        display: flex;
        margin: 25px 260px 0px 100px;
        justify-content: center;
    }
    .navitem {
        margin-right: 54px;
        color: #212121;
    }
    
    .contacts {
        display: flex;
        position: relative;
        right: 200px;
        flex-direction: column;
    }
    
    .contacts_item {
        line-height: 30px;
        text-decoration: none;
        font-size: 15px;
        color: #000;
        font-family: "Roboto";
        margin-bottom: 32px;
        color: #757575;
    }
    
    .contacts_item span:before{
        margin-right: 10px;
    }
    .contacts a:active{
        color: #2196F3;

    }
    .contacts li:active span:before {
        color: #2196F3;
    }
    
    .main-background {
        height: 400px;
    }

    .background-heading {
        font-size: 30px;
        line-height: 50px;
        width: 350px;
    }

    .background-button {
        padding: 18px 24px;
    }
    .info{
        margin: 0;
        padding: 0;
    }
    .info_list{
        width: 100%;
        margin-left: 60px;
        margin-top: 60px;
    }
    .info_list li{
        margin-right: 15px;
    }
    .info_heading{
        text-align: justify;
    }
    .info_text{
        width: 300px;
        text-align: justify;
    }

    .our_team_list{
        width: 100%;
    }
    .clients_list{
        width: 100%;
    }
    .clients_list_item{
        width: 226px;
    }
    .join_us{
        margin-top: 65px;
        margin-left: 178px;
    }
    .subsciption input{
        width: 450px;
    }
}

@media screen and (min-width: 1440px) {
    .web{
        color: #2196F3;
    }
    .footer_logo .studio{
        color: #FFFFFF;
    }
    .menu{
        margin-right: 90px;
        margin-left: 100px;
    }
    .navitem:hover{
        color: #2196F3;
    }
    .contacts a:hover{
        color: #2196F3;

    }
    .contacts li:hover span:before {
        color: #2196F3;
    }
    .contacts{
        flex-direction: row;
        justify-content: flex-end;
    }
    .contacts_item{
        margin-right: 30px;
    }
    .main-background{
        height: 600px;
    }
    .background-heading{
        font-size: 44px;
        width: 700px;
    }
    /* WHAT WE DO */
    .what_we_do {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    /* WHAT WE DO HEADING */
    .what_we_do .heading {
        text-transform: uppercase;
        font-family: "Roboto";
        text-align: center;
        font-weight: 700px;
        margin-bottom: 30px;
    }

    /* WHAT WE DO LIST */
    .what_we_do_list {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        margin-left: 50px;
    }

    .what_we_do_list li {
        margin-right: 75px;
    }
    .our_team_items{
        width: 270px;
        height: 428px;
    }
    .our_team_items img{
        width: 270px;
        height: 260px;
    }
    .clients_list_item{
        width: 170px;
    }
    .clients_list_item:hover span:before{
        color: #2196F3;
    }
    .clients_list_item:hover{
        border:1px solid #2196F3;
    }
    .adress{
        text-align: justify;
        margin-bottom: 60px;
    }
    .join_us{
        text-align: justify;
    }
    .footer_box{
        justify-content: flex-start;
        margin-left: 215px;
    }
    .subsciption{
        display: none;
    }
    

}