/* GENERAL */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
.navigation,
.contacts {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;  
}
body{
    margin: 0;
}

/* NAVIGATION */

.navitem{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-family: "Roboto";
}
.current_page{
    color: #2196F3;
}
.page-header{
    height: 80px;
    border-bottom:1px solid #ececee ;
}
.container{
    display: flex;
    justify-content: space-around;    
}


.web{
    color: #2196F3;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}
.studio{
    color: #000;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    
}
.logo{
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    text-decoration: none;

}
.navigation{
    margin:25px 250px 0 0;;
}
.navigation a{
    margin-right: 100px;
}

/* CONTACTS */
.contacts_item{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-family: "Roboto";
}
.contacts{
    margin-top: 25px;
}
.contacts a{
    margin-right: 50px;
}
.navigation a:hover,
.contacts a:hover{
    color: #2196F3;
}
.navigation a:active,
.contacts a:active{
    font-size: 14px;
}
/* BACKGROUND */
.main-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./ws_images/background_img.png);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    width: 1600px;
    height: 600px;
    font-family: "Roboto";
}

/* BACKGROUND-HEADING */

.background-heading{
    
    margin-bottom: 40px;
    color: #fff;
    font-family: "Roboto";
    font-size: 50px;
}

/* BACKGROUND-BUTTON */

.background-button{
    border: 2px solid #2196F3;
    border-radius: 3px;
    background-color: #2196F3;
    padding: 10px 24px;
    color: #ffffff;
    box-shadow: 0px 4px 4px #00000026;
    text-decoration: none;
}
.background-button:active{
    border: 1px;
}
/* INFO */
.info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* INFO LIST */
.info_list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.info_list li{
    margin-right: 40px;
}
/* INFO HEADING */
.info_heading{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 700px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* INFO TEXT */
.info_text{
    color: #757575;
    font-family: "Roboto";
    line-height: 24px;
    
}
/* WHAT WE DO */
.what_we_do{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
/* WHAT WE DO HEADING */
.what_we_do .heading{
    text-transform: uppercase;
    font-family: "Roboto";
    text-align: center;
    font-weight: 700px;
}
/* WHAT WE DO LIST */
.what_we_do .list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
.what_we_do .list li{
    margin-right: 40px;
}