.navitem {
    margin-right: 54px;
    color: #212121;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto";
}
.contacts_item {
    line-height: 30px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto";
    margin-bottom: 32px;
    color: #757575;
}