.info-item {
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width:768px){
        margin-right: 30px;
    }
}
.info_heading {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 700px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
    @media screen and (min-width:768px){
        text-align: justify;
    }
}
/* INFO TEXT */
.info_text {
    color: #757575;
    font-family: "Roboto";
    line-height: 24px;
    text-align: center;
    margin-right: 40px;
    @media screen and (min-width:768px){
        width: 300px;
        text-align: justify;
    }
}

/* INFO BACKGRROUND */
.svg_bg {
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px 130px;
}
.icon-antenna-1,
.icon-astronaut-1,
.icon-clock-1,
.icon-diagram-1 {
    font-size: 60px;
}
