.web {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}

.studio {
    color: #000;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

}