.logo {
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    @media screen and (min-width: 768px){
        margin-left: 200px;
    }
}

.web {
    color: #2196F3;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    @media screen and (min-width:768px) and (max-width:1439px) {
        color: #000;
    }
}

.studio {
    color: #000;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

}
.footer_logo .studio {
    color: #000;
    @media screen and (min-width:1440px) {
        color: #fff;
    }
}
.footer_logo{
    margin-right:35px;
    margin-top: 60px;
}