/* WHAT WE DO HEADING */
.what_we_do .heading {
    text-transform: uppercase;
    font-family: "Roboto";
    text-align: center;
    font-weight: 700px;
    margin-bottom: 30px;
}
.what_we_do_list li {
    margin-right: 75px;
}