$web-color:#2196F3;
$studio-color: #fff;
$tablet-studio-color:#000;
$nav-item-color: #212121;
$contact-item-color: #757575;
$header-border:#ececee;
$bg-color-darken: #00000080;
$bg-button-shadow:#00000026;
$info-bg-color:#F5F4FA;
$clients-items-border-color:#afb1b8;
$our-team-items-shadow1:#0000001f;
$our-team-items-shadow2:#00000024;
$our-team-items-shadow3:#00000033;
$footer-bg-color: #2F303A;
$input-color:#FFFFFF99;
$input-border-color:#ffffff4d;
$footer-svgs-color:#ffffff1a;
$subscription-button-shadow:#00000026;
$table-item-border:#EEEEEE;
$transparent-bg-color:#2196f3e6;